.descriptions-container {
  text-align: center;
  height: 133vh;
  width: 75%;
  margin: auto;
  justify-content: space-around;
}

.descriptions-container div {
  margin-top: 100px;
  margin-bottom: 50px;
}
