.descriptions-container {
  text-align: center;
  height: 170vh;
  width: 75%;
  margin: auto;
  justify-content: space-around;
}

.icon-text-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.icon-text-container img {
  transition: 0.6s;
  animation: ease-in;
}

.icon-text-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (min-width: 400px) {
  /* Larger mobile devices */
  .descriptions-container {
    height: 140vh;
  }
}

@media only screen and (min-width: 768px) {
  /* IPAD screen size */
  .descriptions-container {
    height: 130vh;
  }
  .icon-text-container {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .descriptions-container h3 {
    font-size: 26px;
  }
  .descriptions-container p {
    color: rgb(153, 153, 153);
    font-size: 20px;
  }
}

@media only screen and (min-width: 960px) {
  /* Smaller desktop */
  .descriptions-container {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  .icon-text-container {
    margin-top: 250px;
    width: 30%;
    margin-left: 40px;
    margin-right: 40px;
  }
  .descriptions-container h3 {
    font-size: 20px;
  }
  .descriptions-container p {
    font-size: 16px;
  }
}
