.header-container {
  height: 50vh;
  /* background-image: url("../images/bg_home.jpg"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; */
}

#jouleVideo {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: relative;
  z-index: 0;
}

.header-overlay {
  height: 50vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(rgba(241, 135, 64, 0.699), rgba(243, 137, 95, 0));
  z-index: 1;
}

.logo-container {
  position: absolute;
  margin: 10px;
  z-index: 3;
}

.logo {
  width: 100%;
  height: auto;
  padding: 5px;
  z-index: 3;
}

.button-container {
  text-align: center;
}

.button-container h3 {
  margin: 0;
  padding: 0;
  padding-top: 240px;
}

.btn-primary {
  color: white;
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 12px 24px;
  margin: 10px;
}

@media only screen and (min-width: 400px) {
  .button-container h3 {
    margin: 0;
    padding: 0;
    padding-top: 300px;
  }
}
