.header-container {
  height: 30vh;
}

#jouleVideo {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: relative;
  z-index: 0;
}

.header-overlay {
  height: 40vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(rgba(238, 81, 41, 0.899), rgba(243, 117, 95, 0));
  z-index: 1;
}

.button-container {
  height: 20vh;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 24%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.button-container h3 {
  color: white;
  font-size: 22px;
  font-weight: 50;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.btn-primary {
  color: white;
  display: inline-block;
  background-color: rgba(224, 98, 48, 0.76);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 7px 14px;
  margin: 10px;
  z-index: 4;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.726);
  color: rgb(44, 44, 44);
}

@media only screen and (min-width: 400px) {
  /* Larger mobile screen size such as Pixel XL */
  .button-container h3 {
    padding-top: 300px;
  }
}

@media only screen and (min-width: 768px) {
  /* IPAD screen size */
  .button-container h3 {
    padding-top: 470px;
    font-size: 26px;
    padding-bottom: 16px;
  }
  .btn-primary {
    font-size: 20px;
    padding: 16px 32px;
  }
  .logo-container {
    margin: 28px;
  }
}

@media only screen and (min-width: 960px) {
  /* Smaller desktop */
  .header-container {
    height: 50vh;
  }

  .image-container {
    display: flex;
  }

  .button-container {
    top: 32%;
  }

  .button-container h3 {
    padding: 0;
    margin-bottom: 0.8rem;
    color: white;
    font-size: 45px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 10px 18px;
    margin: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  /*Medium desktop*/
  .header-container {
    height: 68vh;
  }
}

@media only screen and (min-width: 1400px) {
  /*Full size desktop*/
  .header-container {
    height: 90vh;
  }
  .btn-primary {
    padding: 15px;
  }
}

@media only screen and (min-width: 1700px) {
  /*Full size desktop*/
  .header-container {
    height: 120vh;
  }
  .button-container {
    top: 50%;
  }
  .button-container h3 {
    margin-bottom: 1rem;
  }
}
