.header-container {
  height: 40vh;
  /* background-image: url("../images/bg_home.jpg"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; */
}

#jouleVideo {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: relative;
}

.logo {
  position: fixed;
  width: 100%;
  padding: 20px;
}

.button-container {
  text-align: center;
}

.button-container h4 {
  margin: 0;
}

.btn-primary {
  color: white;
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 12px 24px;
  margin: 10px;
}
