.contact-container {
  text-align: center;
  height: 80vh;
  background-color: rgb(59, 59, 59);
  color: white;
}

.contact-container h2 {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

#contact-form {
  padding-top: 3rem;
}

input[type="text"],
input[type="email"] {
  width: 60%;
  padding: 5px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 2rem;
}
