.contact-container {
  text-align: center;
  height: 80vh;
  background-color: rgb(59, 59, 59);
  color: white;
}

.contact-container h2 {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

#contact-form {
  padding-top: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 60%;
  padding: 5px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

.fb-link-container a {
  text-decoration: none;
  color: white;
}

.fb-link-container a:hover {
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  /* Larger mobile devices */
  .contact-container {
    height: 65vh;
  }
}

@media only screen and (device-width: 768px) {
  /* IPAD screen size */
  .contact-container {
    height: 52vh;
  }
  .contact-container h2 {
    font-size: 30px;
  }
  input[type="text"],
  input[type="email"] {
    width: 40%;
  }
  .contact-container label {
    font-size: 20px;
  }
}

@media only screen and (min-width: 960px) {
  /* Smaller desktop */
  .contact-container {
    height: 53vh;
  }
  input[type="text"],
  input[type="email"] {
    width: 40%;
    padding: 8px;
  }
}
