.about-container {
  text-align: center;
  height: 115vh;
  color: rgb(48, 48, 48);
}

.about-container img {
  width: 100%;
  height: auto;
}

.about-text-content {
  width: 75%;
  margin: auto;
}

.about-text-content p {
  text-align: left;
  color: rgb(153, 153, 153);
}

@media only screen and (min-width: 400px) {
  /* Larger mobile devices */
  .about-container {
    height: 98vh;
  }
}

@media only screen and (min-width: 768px) {
  /* IPAD screen size */
  .about-container {
    height: 110vh;
  }
  .about-container h2 {
    font-size: 30px;
  }
  .about-container p {
    font-size: 22px;
  }
  .about-text-content img {
    width: 60%;
    height: auto;
  }
}
