.about-container {
  text-align: center;
  height: 140vh;
  color: rgb(48, 48, 48);
}

.about-container h2 {
  margin-top: 20%;
  color: rgb(77, 77, 77);
}

.about-container img {
  width: 100%;
  height: auto;
}

.about-text-content {
  width: 75%;
  margin: auto;
}

.about-text-content p {
  text-align: left;
  color: rgb(153, 153, 153);
}

.about-text-content img {
  width: 75%;
}

.about-text-content hr {
  width: 40%;
  border-top: 1px solid rgba(128, 128, 128, 0.342);
}

@media only screen and (min-width: 400px) {
  /* Larger mobile devices */
  .about-container {
    height: 120vh;
  }
}

@media only screen and (min-width: 580px) {
  /* Larger mobile devices */
  .about-container {
    height: 150vh;
  }
  #pri-signature {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  /* IPAD screen size */
  .about-container {
    height: 140vh;
  }
  .about-container h2 {
    font-size: 30px;
    margin-top: 10%;
  }
  .about-container p {
    font-size: 22px;
  }
  #pri-signature {
    width: 60%;
    height: auto;
  }
}

@media only screen and (min-width: 775px) {
  /* IPAD screen size */
  .about-container {
    height: 180vh;
  }

  #pri-signature {
    width: 40%;
  }
}

@media only screen and (min-width: 960px) {
  /* Smaller desktop */
  .about-container {
    display: flex;
    height: 90vh;
  }
  #main-image {
    width: auto;
    height: 70vh;
  }
  .about-text-content {
    width: 35%;
    margin-top: 6.5rem;
  }
  .about-text-content p {
    font-size: 16px;
    line-height: 2;
  }
  #pri-signature {
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  /*Full size desktop*/
  #main-image {
    width: auto;
    height: 90vh;
  }
  .about-container h2 {
    font-size: 40px;
  }
  .about-text-content {
    width: 40%;
    margin-top: 10rem;
  }
  .about-text-content p {
    text-align: center;
    font-size: 20px;
  }
  #pri-signature {
    width: 45%;
    height: auto;
  }
}
