.topNavBar {
  background-color: rgb(63, 63, 63);
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topNavBar a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 12px;
}

.topNavBar a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.topNavBar a.active {
  color: white;
}
