.topNavBar {
  align-items: center;
  display: flex;
  height: 7vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-container {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: auto;
  width: 80%;
}

.nav-logo {
  color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-top: 1rem;
  width: 40%;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
}

.nav-link {
  border-bottom: 3px solid transparent;
  color: white;
  font-size: 12px;
  height: 100%;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.nav-item {
  cursor: pointer;
  line-height: 40px;
  margin-right: 7.5rem;
}

.nav-link:hover {
  color: orange;
}

.nav-item:after {
  background: transparent;
  content: "";
  display: block;
  height: 3px;
  transition: width 0.7s ease, background-color 0.5s ease;
  width: 0;
}

.nav-item:hover:after {
  background: orange;
  width: 100%;
}

.nav-icon {
  display: none;
}

.media-icon-container {
  color: white;
  padding: 10px;
  margin-right: 15%;
  text-decoration: none;
  margin-top: 0.8rem;
}

.fb-icon {
  padding-right: 20px;
}

.fb-icon:hover,
.email-icon:hover {
  color: orange;
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  .media-icon-container {
    margin-top: 0.2rem;
  }
}

@media only screen and (min-width: 550px) {
  .media-icon-container {
    margin-right: 15%;
    margin-top: 5.5%;
  }
  .nav-icon {
    margin: 2.5%;
  }
  .nav-logo {
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  /* IPAD screen size */
  .topNavBar a {
    font-size: 12px;
  }
  .media-icon-container {
    margin-right: 10%;
  }
  .nav-logo {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
  }
  .nav-logo {
    width: 4rem;
  }
  .logo {
    width: 12rem;
  }
}

@media only screen and (min-width: 960px) {
  .logo {
    width: 12rem;
  }
  .media-icon-container {
    margin-right: 0;
    margin-left: 18rem;
    margin-top: 3.4rem;
    position: absolute;
  }
  .nav-menu {
    margin-left: 1rem;
    margin-right: 3rem;
  }
  .topNavBar a {
    font-size: 18px;
  }
  .nav-item {
    margin: 10px;
    margin-top: 16%;
  }
}

@media only screen and (max-width: 960px) {
  .nav-icon {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-90%, 42%);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.842);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    left: -110%;
    opacity: 1;
    position: absolute;
    top: 1.75rem;
    width: 100%;
  }

  .nav-menu.active {
    background: rgb(255, 115, 0);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .nav-link {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
}
