.footer-container {
  position: relative;
  height: 15vh;
  background-color: rgb(39, 39, 39);
}

.img-container {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
